.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;

  h1 {
    color: var(--eerie-black);
  }
}

.form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 16px 0;
}

.input {
  height: 40px;
  border: 1px solid var(--platinum);
  background-color: var(--seasalt);
  padding: 0 16px;
  color: var(--eerie-black);
  border-radius: 8px;
}
